[submodule "zsh/.ohmyzsh"]
	path = zsh/.ohmyzsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
[submodule "zsh-plugins/.ohmyzsh/custom/plugins/zsh-autosuggestions"]
	path = zsh-plugins/.ohmyzsh/custom/plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "zsh-plugins/.ohmyzsh/custom/plugins/zsh-syntax-highlighting"]
	path = zsh-plugins/.ohmyzsh/custom/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
